<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label "Catégorie" %><br>
    <%= f.collection_select :category_id, Category.all, :id, :nom, {promt: "Choisir une catégorie" }, class: "dropdown-toggle" %>
  </div>
   <div class="form-group">
    <%= f.label :titre %><br>
    <%= f.text_field :titre, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :titre %><br>
    <%= f.text_area :description, class: "form-control", rows: 13  %>
  </div>
  <div class="form-group">
    <%= f.submit "Valider l'article", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>


